body{
    background-image: url("../images/Disney-Computer-Wallpaperdisney-computer-wallpaper-1920x1080-images-PIC-WPXH454290.jpg");
    font-family: 'Oswald', sans-serif;
    font-weight:200px;
    font-size:18px;
    color:black;
}
.container{
    margin-top:-2;
    max-width:900px;
    max-height: 275px;
    overflow:auto;   
}

#main-logo{
    width:800px;
    height:225px;
    border-bottom: 4px solid;
}

#mickey{
    border-bottom: 2px solid;
}

h2{
    text-align:center;
    font-family: 'Staatliches', cursive;
}

#display{
    text-align:center;
    font-weight:500;
}

#startButton{
    align-content: center;
    
}

#left{
    float:left;
    position: fixed;
}

#right{
    position: relative;
    margin-left:270px;
    overflow:auto;
}

#results-page{
    position: relative;
    margin-left:100px;
    overflow:auto;
}

.responsive{
    max-width: 100%;
    height: auto;
    margin-right:50px;
}

#title{
    font-family: 'Staatliches', cursive;
    font-weight:300px;
    font-size:36px;
}

.doneButton{
    margin-top:10px;
}

#disneyimg{
    border-radius:50%;
    height:100px;
    display:inline-block;
}

.imgcontainer{
    margin-top:75px;
}

header{
    background-color: black;
}

.title {
    position: relative;
    font-family: 'Staatliches', cursive;
    letter-spacing: 7px;
    color:white;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left:20px;
}

#title-disney{
    top: 12px;
    float: left;
}

#icons{
    float:right;
}

.icon {
    position: relative;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    display: inline-block;
}

.icon-github{
    background-image: url("../images/github3.png");
    margin-top:10px;
}

.icon-disney{
    background-image: url("../images/disneyapp.png");
    margin-top:10px;
}

.icon-fb{
    background-image: url("../images/fb.png");
    margin-top:10px;
}

.icon-instagram{
    background-image: url("../images/insta2.jpg");
    margin-top:10px;
}

footer{
    background-color:black;
}